.DS_Store
.classpath
.project
.settings
.gwt
target
gwt-unitCache
src/main/webapp/plancapaciteit
src/main/webapp/WEB-INF/deploy
src/main/webapp/WEB-INF/lib
src/main/webapp/WEB-INF/classes

tomcat/conf/web.xml

tomcat/webapps/ROOT/WEB-INF/web.xml

tomcat/work/gwt/localhost/_/SESSIONS.ser

tomcat/work/gwt/localhost/_/tldCache.ser
